body {
    margin: 0 auto;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 218, 218);
}
.postDiv{
    text-align: center;
    font-size: 19px;
    font-style: italic;
    margin-top: 30px;
    width: 700px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: rgb(211, 208, 208);
    opacity: 0.7;
    box-shadow: 10px 5px 5px black;
   
}
.postDiv:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: 0.5s;
}

.clickDiv {
    display: flex;
    /* background-color: rgba(255, 255, 0, 0.602); */
    width: 100%;
    height: 870px;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    width: 50%;
    height: 770px;
    padding-top: 100px;
}

.commDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 870px;
}

.numDiv {
    position: absolute;
    top: 25px;
    left: 420px;
    font-size: 40px;
}

.smallDiv {
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 120px;
    background-color: #d1d7e0;
    font-size: 15px;
}

.smallDivTitle {
    font-size: 40px;
}

.h5 {
    transform: translateY(-15px);
}

.text {
    transform: translateY(-25px);
}

.text2 {
    transform: translateY(-40px);
}

.back {
    width: 50px;
    height: 50px;
    background-image: url(./back2-removebg-preview.png);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 25px;
}

.input {
    text-align: center;
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 300px;
    background-color: rgba(123, 252, 252, 0.996);
    border: 5px double black;
}

.button {
    width: 55px;
    height: 55px;
    background-image: url(./button-removebg-preview.png);
    background-size: cover;
    position: absolute;
    bottom: 14px;
    left: 620px;
}

.ancetDiv {
    width: 600px;
    position: absolute;
    left: 145px;
    bottom: 80px;
}

.form2 {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.input2 {
    border: 2px solid black;
}

.helpsdiv {
    display: flex;
    width: 600px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    bottom: 113px;
    left: 140px;
}

@keyframes help1 {
    25% {color: black;}
    50% {color: red;}
    75% {color: black;}
    100% {color: red;}
}

.help1 {
    animation-name: help1;
    animation-duration: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    background-color: black;
    color: red;
    border: 2px solid palevioletred;
    font-weight: 600;
    position: absolute;
    right: 420px;
    bottom: 5px;
    z-index: -1;
    text-align: center;
}

.help2 {
    animation-name: help1;
    animation-duration: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 230px;
    height: 35px;
    background-color: black;
    color: red;
    border: 2px solid palevioletred;
    font-weight: 600;
    position: absolute;
    bottom:5px;
    left: 185px;
    z-index: -1;
}

.commDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 870px;
    text-align: center;
    position: absolute;
    left: 40px;
}

.myCom {
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 120px;
    background-color: #d1d7e0;
    font-size: 13px;
}